.container {
  display: flex;
  background-color: var(--gray);
  width: 170px;
  margin: 0 auto;

  input {
    width: 100px;
    border: none;
    background-color: var(--gray);
    outline: none;
    text-align: center;
    font-size: 1.25rem;
  }

  button {
    border: none;

    width: 35px;
    height: 35px;
    background-color: var(--orange-secondary);

    font-weight: 800;
    font-size: 1.25rem;
    color: var(--white-text);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.95);
    }
  }
}
