.dataWrapper,
.loading {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 3rem 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dataWrapper {
  gap: 50px;
}

.loading {
  align-items: center;
}
