.container {
  display: flex;
  flex-direction: column;
}

.dataWrapper {
  flex: 1;
  max-width: 1800px;
  margin: 0 auto;
  padding: 3rem 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
