.container {
  width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  position: relative;

  &:hover {
    transform: scale(0.9);
  }

  > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  strong {
    font-size: 1rem;
    padding: 1rem;
    display: block;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 0.75rem;

    > span {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.5rem 0.25rem;
    }
  }
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--offer-text);
    background-color: var(--offer-background);
    border: 1px solid var(--offer-text);
  }

  s {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;

    span {
      font-size: 1.125rem;
      font-weight: 600;
      padding: 0.25rem 0;
    }
  }
}

.promotion {
  position: absolute;
  top: -45px;
  right: -25px;

  width: 90px !important;
  height: 90px;
}
