* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f2f5f7;

  --orange-primary: #ff6e00;
  --orange-secondary: #ff9100;

  --offer-text: #ff9100;
  --offer-background: yellow;

  --gray: #ededed;

  --title: #051e42;
  --black-text: #313335;
  --white-text: #f2f5f7;
}

@media (max-width: 1024) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
}

body,
input,
textarea,
button {
  font: 500 1rem sans-serif;
  color: var(--black-text);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  outline: none;
}
