.container {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-wrap: wrap;

  max-width: 1024px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.5);

  > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    &:first-child {
      img {
        width: 80%;
      }

      a {
        align-self: flex-start;
        text-decoration: none;
        color: inherit;
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
    }

    &:last-child {
      border-left: 2px solid var(--gray);
    }
  }
}

.description {
  strong {
    padding: 0.5rem 0;
    display: block;
    text-align: center;
    font-size: 1.5rem;
  }

  p {
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;

    > span {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.5rem 0.25rem;
    }
  }

  label {
    margin-top: 3rem;
  }

  div.offer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p:first-child {
      s {
        font-size: 1.125rem;
        font-weight: 600;
        padding: 0 0.25rem;
      }
    }

    p:last-child {
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: var(--offer-text);
      background-color: var(--offer-background);
      border: 1px solid var(--offer-text);
    }
  }
}

.unavailable {
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--gray);
}

@media (max-width: 1080px) {
  .details {
    flex-direction: column;
    margin: 2rem 1rem;

    > div {
      flex: auto;
      width: 100%;
      height: auto;

      &:last-child {
        border-left: none;
      }
    }
  }
}
